
/* Color pallete---------------------
BAD1CD  ash gray
F2D1C9  pale dogwood
E086D3  Violet (web Color)
8332AC  grape
652D7B  eminence (plum) -------*/



.site {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 2fr;
}

nav {
    grid-column: 1/3;
    grid-row: 1/2;
}